.header{
    padding: 1rem 0.25rem ;
}

.headerContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1{
    font-size: 1.25rem;
}

button {
    padding: .5rem 1rem;
    border-radius: .25rem;
    cursor: pointer;
}