.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2rem;
    padding-inline: 1.5rem;
}
input, select{
    outline: none;
}

input:focus-visible, select:focus-visible{
    outline: 1px solid var(--Background);
    border-radius: 0rem;
}
input{
    padding: .5rem .75rem;
}
select{
    padding: .25rem .75rem;
}